<div *ngIf="recipeResponse" class="wrapper"> 
    <div class="grid-div">

        <div class="content-box published-box" style="grid-area :c">
            <div class="content-box-title">
                <p class="content-title">Published by:</p>
            </div>
    
            <div class="user-info">
                <p>{{recipeResponse.User.UserName}}</p>
                <img [src]="recipeResponse.User.UserImage" />
            </div>
        </div>

        <div class="content-box" style="grid-area: b">
            <div class="content-box-title">
                <p class="content-title">Description</p>
            </div>
            <p>{{recipeResponse.Recipe.Description}}</p>
        </div>

        <div class="recipe-info-div" style="grid-area: a">
        
            <div class="content-box">
                <div class="content-box-title">
                    <p class="content-title">Ingredients</p>
                </div>
        
                <div class="ing-container">
                    <div class="ing-div" *ngFor="let ing of recipeResponse.Recipe.Ingredients">
                        {{ing.Name}}
                        <i class="{{ing.ClassName}}" style="margin-right: 2rem;"></i>
                        <p>{{ing.Quantity}} {{ing.MeasuringUnit}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="img-div" style="grid-area: d;">
            <img class="recipe-image" [src]="recipeResponse.Recipe.ImageString"/>
        </div>
    
        

        <div class="content-box" style="grid-area: e">
        
            <div class="content-box-title">
                <p class="content-title">Steps</p>
            </div>
        
            <p>Steps for preparing {{recipeResponse.Recipe.Name}}</p>
        
            <div class="steps-container">
                <div class="step-container" *ngFor="let step of recipeResponse.Recipe.Steps">
        
                    <div class="circle">{{step.Index+1}}.</div>
                    <div class="recipe-step">
                        <p>
                            {{step.Text}}
                        </p>
                    </div>
        
                    <div *ngIf="step.Index != recipeResponse.Recipe.Steps.length - 1" class="arrow">
                    </div>
                </div>
            </div>
        </div>
</div>