.file-upload-div {


    img {
        object-fit: cover;
        width: 15rem;
        max-height: 15rem;
        border: 2px solid black;

        &:hover {
            cursor: pointer;
        }
    }

}